body {
    /*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(229,255,226,1) 100%);*/
    background-color: #f5f5f5;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #5d9975;
}
